<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1"/>
    <section name="openWeatherSection" type="OpenWeather.OpenWeatherSection, OpenWeather, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="openWeatherSection">
        <content>
          <openWeatherSection xmlns="urn:OpenWeather" apiKey="xxxxxxxxxxxxxxxx" refreshInterval="00:15:00" language="fr">
            <stations>
              <station name="Paris" longitude="2.35" latitude="48.853"/>
              <station name="Lille" longitude="3.05" latitude="50.629"/>
              <station name="London" longitude="-0.14" latitude="51.557"/>
            </stations>
          </openWeatherSection>
        </content>
      </setting>
    </settings>
  </constellationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
