<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
    <section name="graylogConfiguration" type="GraylogConnector.GraylogConfiguration, GraylogConnector, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="graylogConfiguration">
        <content>
          <graylogConfiguration xmlns="urn:GraylogConnector" sendPackageLogs="true" sendPackageStates="true" sendSentinelUpdates="true">
            <subscriptions>
              <subscription package="HWMonitor" name="/intelcpu/0/temperature/0">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="HWMonitor" name="/lpc/nct6776f/temperature/3">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="HWMonitor" name="/hdd/1/load/0">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="HWMonitor" name="/hdd/2/load/0">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="HWMonitor" name="/hdd/3/load/0">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="HWMonitor" name="/intelcpu/0/load/0">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="HWMonitor" name="/intelcpu/0/load/1">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="HWMonitor" name="/ram/load/0">
                <aggregation>
                  <aggregateProperty propertyName="Value" />
                </aggregation>
              </subscription>
              <subscription package="ddwrt">
                <exclusions>
                  <exclusion type="ddwrt.LANStatus" />
                  <exclusion type="ddwrt.StatInterface" />
                  <exclusion type="ddwrt.WirelessClientStatus" />
                </exclusions>
              </subscription>
              <subscription package="ddwrt" type="ddwrt.StatInterface">
                <aggregation>
                  <aggregateProperty includeAggregateInfo="true" propertyName="ReceiveBytes" />
                  <aggregateProperty includeAggregateInfo="true" propertyName="ReceivePackets" />
                  <aggregateProperty includeAggregateInfo="true" propertyName="TransmitBytes" />
                  <aggregateProperty includeAggregateInfo="true" propertyName="TransmitPackets" />
                  <aggregateProperty includeAggregateInfo="true" propertyName="BandwidthIn" />
                  <aggregateProperty includeAggregateInfo="true" propertyName="BandwidthOut" />
                </aggregation>
              </subscription>
              <subscription package="SEnergy" />
              <subscription package="NetAtmo" />
              <subscription package="Vera">
                <exclusions>
                  <exclusion name="Home Energy Monitor" />
                </exclusions>
              </subscription>
              <subscription package="Nest" />
              <subscription package="Pioneer" />
              <subscription package="BatteryChecker" />
              <subscription package="Internet" />
              <subscription package="LightSensor">
                <aggregation interval="60">
                  <aggregateProperty propertyName="value" includeAggregateInfo="true" />
                </aggregation>
              </subscription>
              <subscription package="MeteoFrance" />
              <subscription package="SSound-Cuisine" />
              <subscription package="SSound-SalleDeBain" />
              <subscription package="WindowsControl" />
              <subscription package="FitbitConnector" />
              <subscription package="GoogleTraffic" />
              <subscription package="Paradox" />
            </subscriptions>
            <outputs>
              <gelfOutput name="Log-Server UDP AJSINFO" host="log-server.ajsinfo.loc" port="12203" protocol="Udp" />
            </outputs>
          </graylogConfiguration>
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>