<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <!-- Add your package's setting values here -->
    <setting key="Devices">
        <content>
          <![CDATA[
          [{
            "HostName": "192.168.0.16",
            "Port": "55443",
            "Name": "Salon"
          }, {
            "HostName": "192.168.0.22",
            "Name": "Chambre"
          }]
          ]]>
        </content>
      </setting>
      <setting key="DeviceGroups">
        <content>
          <![CDATA[
          [{
            "Name": "All",
            "Devices": ["Chambre", "Salon"]
          }]
          ]]>
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>