<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constellation" version="1.8.3.17258" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="net461" />
  <package id="YeelightAPI" version="1.5.0" targetFramework="net461" />
</packages>