<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <!-- Test w/ ZoneMinder 1.32.3 -->
      <setting key="RootUri" value="http://zm-server.ajsinfo.loc/zm/" />
      <setting key="UseLoginAPI" value="true" />
      <setting key="Username" value="admin" />
      <setting key="Password" value="xxxxxxxxx" />
      <!-- Test w/ ZoneMinder 1.29 -->
      <!--<setting key="RootUri" value="http://10.2.4.159/zm/" />
      <setting key="UseLoginAPI" value="false" />
      <setting key="Username" value="admin" />
      <setting key="PasswordHash" value="xxxxxxxxx" />
      <setting key="SecretHash" value="xxxxxxxxx" />-->
      <setting key="SystemRefreshInterval" value="10000" />
      <setting key="MonitorsRefreshInterval" value="2000" />
      <setting key="EventsRefreshInterval" value="2000" />
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>