<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ssoundConfiguration" type="SSound.SSoundConfigurationSection, SSound, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="ssoundConfiguration">
        <content>
          <ssoundConfiguration xmlns="urn:SSound" endpointName="Demo" initialVolume="0.8" speechVolume="0.8" enableDlnaRenderer="true">
            <inputs>
              <device name="mic" inputDeviceName="Prise microphone (Realtek Audio)" autoPlay="true" />
            </inputs>
            <cerevoice accountID="" password="" voiceName="Suzanne" bitrate="48000" />
          </ssoundConfiguration>
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CereVoiceCloudBinding">
          <security mode="Transport" />
        </binding>
        <binding name="CereVoiceCloudBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://cerevoice.com/soap/soap_1_1.php" binding="basicHttpBinding" bindingConfiguration="CereVoiceCloudBinding" contract="CereVoice.CereVoiceCloudPortType" name="CereVoiceCloudPort" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.3.0" newVersion="2.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
