<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="GatewayMulticastIP" value="224.0.0.50" />
      <setting key="GatewayMulticastPort" value="9898" />
      <setting key="HeartbeatLog" value="false" />
      <setting key="ReportLog" value="false" />
      <setting key="GatewayIP" value="192.168.1.25" />
      <setting key="GatewayPassword" value="rpg95cefsk6j7smq" />
      <setting key="soCustomNames">
        <content>
          {
            "158d0001bbfe49": "Plug",
            "158d00023218ed": "MouvementSallon",
            "158d00020e8344": "Porte entrée",
            "158d0002371a0c": "Switch entrée",
            "158d0001e54777": "MouvementSaM",
            "158d0001b91e8d": "Porte jardin",
            "158d00022c96eb": "WeatherHugo",
            "158d00022b69d0": "WeatherSallon",
            "158d00022b6aaf": "WeatherSdJ",
            "158d000183b779": "InterParents",
            "158d00020197d6": "Baie vitrée",
            "158d00021360af": "MiniSwitchParents",
            "158d000269e376": "Cube"
          }
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>