<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="GatewayMulticastIP" value="224.0.0.50" />
      <setting key="GatewayMulticastPort" value="9898" />
      <setting key="HeartbeatLog" value="false" />
      <setting key="ReportLog" value="false" />

      <setting key="GatewayIP" value="192.168.1.25" />
      <setting key="GatewayPassword" value="rpg95cefsk6j7smq" />
      
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.2.0" newVersion="2.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>