<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
    <section name="forecastIOConfigurationSection" type="ForecastIO.ForecastIOConfigurationSection, ForecastIO, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="forecastIOConfigurationSection">
        <content>
          <forecastIOConfigurationSection xmlns="urn:ForecastIO" apiKey="xxxxxxxxxxxx" refreshInterval="00:30:00" unit="si" language="fr">
            <stations>
              <station name="Paris" longitude="2.35" latitude="48.853" />
              <station name="Lille" longitude="3.05" latitude="50.629" />
              <station name="London" longitude="-0.14" latitude="51.557" />
            </stations>
          </forecastIOConfigurationSection>
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>