<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="TcpAddress" value="10.2.24.225" />
      <setting key="TcpPort" value="26" />
      <setting key="Devices">
        <content>
          [
            { Name: "Compteur Général", DeviceType: "MCI.ContaxTri2M", SlaveID: 80, RequestInterval: 10 },
            { Name: "Compteur Baie réseau", DeviceType: "MCI.Contax1M", SlaveID: 6, RequestInterval: 30 },
            { Name: "Compteur Batiment B", DeviceType: "MCI.ContaxTri2M", SlaveID: 78, RequestInterval: 60 },
            { Name: "Compteur Local Technique", DeviceType: "MCI.ContaxTri2M", SlaveID: 77, RequestInterval: 30 },
            { Name: "Compteur Piscines", DeviceType: "MCI.ContaxTri2M", SlaveID: 76, RequestInterval: 30 },
            { Name: "Compteur Géothermie", DeviceType: "MCI.ContaxTri2M", SlaveID: 79, RequestInterval: 30 },
            { Name: "Compteur Domotique IPX B", DeviceType: "MCI.Contax1M", SlaveID: 5, RequestInterval: 300 }
          ]
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
