<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="Host" value="10.2.24.220" />
      <setting key="PollElementTypes" value="XTHL,A, VA,XPWM" />
      <setting key="ElementsConfigurations">
        <content>
         [
          {
              "Id": "D1",
              "Label": "Inter cuisine côté entrée"
          }, {
              "Id": "D2",
              "Label": "Inter cuisine en crédence"
          }, {
              "Id": "D3",
              "Label": "Inter SAM côté entrée"
          }, {
              "Id": "D4",
              "Label": "Inter SAM côté salon"
          }, {
              "Id": "D5",
              "Label": "Inter Salon côté biblio"
          }, {
              "Id": "D6",
              "Label": "Inter Salon côté cuisine"
          }, {
              "Id": "D7",
              "Label": "Inter PCC salon côté biblio"
          }, {
              "Id": "D8",
              "Label": "Inter PCC salon côté cuisine"
          }, {
              "Id": "D9",
              "Label": "Inter éclairage Ext façade"
          }, {
              "Id": "D10",
              "Label": "Inter Dégagement côté salon"
          }, {
              "Id": "D11",
              "Label": "Inter Dégagement côté biblio"
          }, {
              "Id": "D12",
              "Label": "Inter WC RDC"
          }, {
              "Id": "D13",
              "Label": "Inter local sous escalier"
          }, {
              "Id": "D14",
              "Label": "Inter centre biblio porte cour"
          }, {
              "Id": "D15",
              "Label": "Inter Spot biblio"
          }, {
              "Id": "D16",
              "Label": "Inter biblio ECL EXT façad cour"
          }, {
              "Id": "D17",
              "Label": "Inter Escalier au RDC"
          }, {
              "Id": "D18",
              "Label": "Inter centre biblio côté escal"
          }, {
              "Id": "D19",
              "Label": "Inter ECL EXT chem depuis deg"
          }, {
              "Id": "D20",
              "Label": "Inter EXT spot sol depuis entré"
          }, {
              "Id": "D21",
              "Label": "Inter Dressing"
          }, {
              "Id": "D22",
              "Label": "Inter escalier depuis étage"
          }, {
              "Id": "D23",
              "Label": "Inter CH3 depuis porte"
          }, {
              "Id": "D24",
              "Label": "Inter CH3 tête de lit"
          }, {
              "Id": "D25",
              "Label": "Inter EXT biblio côté rue"
          }, {
              "Id": "D27",
              "Label": "Inter couloir étag depuis chb2"
          }, {
              "Id": "D28",
              "Label": "Inter couloir étage depuis chb3"
          }, {
              "Id": "D29",
              "Label": "Inter Centre Chb2 depuis porte"
          }, {
              "Id": "D30",
              "Label": "Inter couloir étag côté escal"
          }, {
              "Id": "D31",
              "Label": "Inter SDB Lavabo"
          }, {
              "Id": "D32",
              "Label": "Inter SDB Centre"
          }, {
              "Id": "D34",
              "Label": "Inter centre CH2 depui tête lit"
          }, {
              "Id": "D35",
              "Label": "Inter liseuse CH2 droite"
          }, {
              "Id": "D36",
              "Label": "Inter liseuse CH2 gauche"
          }, {
              "Id": "D37",
              "Label": "Inter SDB CH2"
          }, {
              "Id": "D41",
              "Label": "Détecteur mouvement Salle à manger",
              "Options": {
                  "NC": true
              },
              "Metadatas": {
                  "ShortName": "Mouvement Salle à manger",
                  "Category": "MotionDetector"
              },
              "Room": "Salon"
          }, {
              "Id": "D42",
              "Label": "Porte Cuisine",
              "Options": {
                  "NC": true
              },
              "Metadatas": {
                  "Category": "DoorSensor"
              },
              "Room": "Salon"
          }, {
              "Id": "D43",
              "Label": "Porte Salon",
              "Options": {
                  "NC": true
              },
              "Metadatas": {
                  "Category": "DoorSensor"
              },
              "Room": "Salon"
          }, {
              "Id": "D44",
              "Label": "Porte Bibliotheque Cour",
              "Room": "Bibliotheque",
              "Options": {
                  "NC": true
              },
              "Metadatas": {
                  "Category": "DoorSensor"
              }
          }, {
              "Id": "D46",
              "Label": "Détecteur mouvement Salon",
              "Options": {
                  "NC": true
              },
              "Metadatas": {
                  "ShortName": "Mouvement Salon",
                  "Category": "MotionDetector"
              },
              "Room": "Salon"
          }, {
              "Id": "D47",
              "Label": "Détecteur mouvement Bibliotheque",
              "Room": "Bibliotheque",
              "Options": {
                  "NC": true
              },
              "Metadatas": {
                  "ShortName": "Mouvement Bibliotheque",
                  "Category": "MotionDetector"
              }
          }, {
              "Id": "D48",
              "Label": "Porte Bibliotheque Rue",
              "Room": "Bibliotheque",
              "Options": {
                  "NC": true
              },
              "Metadatas": {
                  "Category": "DoorSensor"
              }
          }, {
              "Id": "D53",
              "Label": "Détecteur mouvement terrasse",
              "Room": "Jardin",
              "Options": {
                  "NC": false
              },
              "Metadatas": {
                  "ShortName": "Mouvement Terrasse",
                  "Category": "MotionDetector"
              }
          }, {
              "Id": "D54",
              "Label": "Compteur Electrique Général",
              "Options": {
                  "RefreshOnUpdate": "C"
              },
              "Metadatas": {
                  "Category": "Compteur Elec"
              }
          }, {
              "Id": "R1",
              "Label": "Eclairage Cuisine",
              "Room": "Salon",
              "Metadatas": {
                  "ShortName": "Cuisine",
                  "Category": "Light"
              }
          }, {
              "Id": "R2",
              "Label": "Eclairage Salle à manger",
              "Room": "Salon",
              "Metadatas": {
                  "ShortName": "Salle à manger",
                  "Category": "Light"
              }
          }, {
              "Id": "R3",
              "Label": "Eclairage Salon",
              "Room": "Salon",
              "Metadatas": {
                  "ShortName": "Salon",
                  "Category": "Light"
              }
          }, {
              "Id": "R4",
              "Label": "Prise Salon",
              "Room": "Salon",
              "Metadatas": {
                  "Category": "Appliance"
              }
          }, {
              "Id": "R5",
              "Label": "Eclairage Couloir Bibliotheque",
              "Room": "RDC",
              "Metadatas": {
                  "ShortName": "Couloir",
                  "Category": "Light"
              }
          }, {
              "Id": "R6",
              "Label": "Eclairage WC",
              "Room": "RDC",
              "Metadatas": {
                  "ShortName": "Toilettes",
                  "Category": "Light"
              }
          }, {
              "Id": "R7",
              "Label": "Eclairage Local technique",
              "Room": "RDC",
              "Metadatas": {
                  "ShortName": "Local sous escalier",
                  "Category": "Light"
              }
          }, {
              "Id": "R8",
              "Label": "Eclairage Spot Bibliotheque",
              "Room": "Bibliotheque",
              "Metadatas": {
                  "ShortName": "Spots Bibliotheque",
                  "Category": "Light"
              }
          }, {
              "Id": "R9",
              "Label": "Eclairages extérieur facade",
              "Room": "Jardin",
              "Metadatas": {
                  "ShortName": "Facade (côté A)",
                  "Category": "Light"
              }
          }, {
              "Id": "R10",
              "Label": "Eclairage extérieur chemin Bibliotheque",
              "Room": "Rue",
              "Metadatas": {
                  "ShortName": "Porte Bibliotheque (côté Rue)",
                  "Category": "Light"
              }
          }, {
              "Id": "R11",
              "Label": "Eclairage extérieur chemin Salon",
              "Room": "Rue",
              "Metadatas": {
                  "ShortName": "Porte Salon (côté Rue)",
                  "Category": "Light"
              }
          }, {
              "Id": "R12",
              "Label": "Eclairage Couloir étage",
              "Room": "Etage",
              "Metadatas": {
                  "ShortName": "Couloir",
                  "Category": "Light"
              }
          }, {
              "Id": "R13",
              "Label": "Eclairage Escalier",
              "Room": "Etage",
              "Metadatas": {
                  "ShortName": "Escalier",
                  "Category": "Light"
              }
          }, {
              "Id": "R14",
              "Label": "Eclairage Bibliotheque central",
              "Room": "Bibliotheque",
              "Metadatas": {
                  "ShortName": "Bibliotheque",
                  "Category": "Light"
              }
          }, {
              "Id": "R15",
              "Label": "Eclairage Bureau",
              "Room": "Bureau",
              "Metadatas": {
                  "ShortName": "Bureau",
                  "Category": "Light"
              }
          }, {
              "Id": "R16",
              "Label": "Eclairage Lavabo",
              "Room": "Salle de bain",
              "Metadatas": {
                  "ShortName": "Lavabo Salle de bain",
                  "Category": "Light"
              }
          }, {
              "Id": "R17",
              "Label": "Eclairage Salle de bain central",
              "Room": "Salle de bain",
              "Metadatas": {
                  "ShortName": "Salle de bain",
                  "Category": "Light"
              }
          }, {
              "Id": "R18",
              "Label": "Eclairage Dressing",
              "Room": "Etage",
              "Metadatas": {
                  "ShortName": "Dressing",
                  "Category": "Light"
              }
          }, {
              "Id": "R19",
              "Label": "Chambre Liseuse Droite",
              "Room": "Chambre",
              "Metadatas": {
                  "ShortName": "Liseuse Droite",
                  "Category": "Light"
              }
          }, {
              "Id": "R20",
              "Label": "Chambre Liseuse Gauche",
              "Room": "Chambre",
              "Metadatas": {
                  "ShortName": "Liseuse Gauche",
                  "Category": "Light"
              }
          }, {
              "Id": "R21",
              "Label": "Eclairage Chambre Central",
              "Room": "Chambre",
              "Metadatas": {
                  "ShortName": "Chambre",
                  "Category": "Light"
              }
          }, {
              "Id": "R22",
              "Label": "Eclairage Chambre Salle de bain",
              "Room": "Chambre",
              "Metadatas": {
                  "ShortName": "Salle de bain",
                  "Category": "Light"
              }
          }, {
              "Id": "R23",
              "Label": "Ventilos Etage",
              "Room": "Etage",
              "Metadatas": {
                  "ShortName": "Ventilo-convecteurs Batiment A",
                  "Category": "Geothermie",
                  "SubCategory": "Ventilo"
              }
          }, {
              "Id": "R24",
              "Label": "Eclairages extérieur sol",
              "Room": "Jardin",
              "Metadatas": {
                  "ShortName": "Terrasse (côté A)",
                  "Category": "Light"
              }
          }, {
              "Id": "C1",
              "Label" : "Compteur Electrique Général",
              "Metadatas": {
                  "Category": "Electricity"
              }
          }, {
              "Id": "VI1",
              "Label": "Mode Absent"
          }, {
              "Id": "VI2",
              "Label": "VI Eclairages Jardin"
          }, {
              "Id": "THL1",
              "Label": "X-THL RDC",
              "Room": "Salon",
              "Metadatas": {
                  "ShortName": "Salon"
              }
          }, {
              "Id": "THL2",
              "Label": "X-THL ETAGE",
              "Room": "Etage",
              "Metadatas": {
                  "ShortName": "Chambre Batiment A"
              }
          }]
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>