<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="constellationSettings" type="Constellation.Configuration.ConstellationSettings, Constellation.Common, Version=1.8.0.0, Culture=neutral, PublicKeyToken=324a4f45ff674ee1" />
  </configSections>
  <constellationSettings xmlns="http://schemas.myconstellation.io/Constellation/1.8/ConstellationSettings">
    <settings>
      <setting key="Host" value="10.2.24.220" />
      <setting key="PollElementTypes" value="XTHL,A, VA,XPWM" />
      <setting key="ElementsConfigurations">
        <content>
          [
            { "Id": "VA1", "Label" : "test VA1" },
            { "Id": "PWM1", "Label" : "test PWM1" },
            { "Id": "D1", "Label" : "Inter éclairage cuisine" },
            { "Id": "D2", "Label" : "Inter éclairage cuisine créden" },
            { "Id": "D3", "Label" : "Inter éclairage SAM" },
            { "Id": "D4", "Label" : "Inter SAM" },
            { "Id": "D5", "Label" : "Inter Salon" },
            { "Id": "D6", "Label" : "Inter Salon" },
            { "Id": "D7", "Label" : "Inter PC Salon" },
            { "Id": "D8", "Label" : "Inter PC Salon" },
            { "Id": "D9", "Label" : "Inter éclairage Ext façade" },
            { "Id": "D10", "Label" : "Inter Dégagement" },
            { "Id": "D11", "Label" : "Inter Dégagement" },
            { "Id": "D12", "Label" : "Inter WC" },
            { "Id": "D13", "Label" : "Inter local TECH" },
            { "Id": "D14", "Label" : "Inter centre BLIBLIO" },
            { "Id": "D15", "Label" : "Inter Spot BIBLIO" },
            { "Id": "D16", "Label" : "Inter BIBLIO éclairage façade" },
            { "Id": "D17", "Label" : "Inter Escalier" },
            { "Id": "D18", "Label" : "Inter centre BIBLIO" },
            { "Id": "D19", "Label" : "Inter EXT SAM" },
            { "Id": "D20", "Label" : "Inter cuisine Spot sol EXT" },
            { "Id": "D21", "Label" : "Inter Dressing" },
            { "Id": "D22", "Label" : "Inter escalier" },
            { "Id": "D23", "Label" : "Inter CH3" },
            { "Id": "D24", "Label" : "Inter CH3" },
            { "Id": "D25", "Label" : "Inter EXT BIBLIO" },
            { "Id": "D27", "Label" : "Inter couloir étage" },
            { "Id": "D28", "Label" : "Inter couloir étage" },
            { "Id": "D29", "Label" : "Inter Centre CH2" },
            { "Id": "D30", "Label" : "Inter couloir étage" },
            { "Id": "D31", "Label" : "Inter SDB Lavabo" },
            { "Id": "D32", "Label" : "Inter SDB Centre" },
            { "Id": "D34", "Label" : "Inter centre CH2" },
            { "Id": "D35", "Label" : "Inter liseuse CH2 droite" },
            { "Id": "D36", "Label" : "Inter liseuse CH2 gauche" },
            { "Id": "D37", "Label" : "Inter SDB CH2" },
            { "Id": "D41", "Label" : "Détecteur MVT SAM", "Options": {"NC": true } },
            { "Id": "D42", "Label" : "Contact de feuillure cuisine", "Options": {"NC": true } },
            { "Id": "D43", "Label" : "Contact feuillure salon", "Options": {"NC": true } },
            { "Id": "D44", "Label" : "Contact feuillure BIBLIO", "Options": {"NC": true } },
            { "Id": "D46", "Label" : "Détecteur MVT Salon", "Options": {"NC": true }, "Room":"Salon" },
            { "Id": "D47", "Label" : "Détecteur MVT BIBLIO", "Options": {"NC": true } },
            { "Id": "D50", "Label" : "Contact de feuillure BIBLIO", "Options": {"NC": true } },
            { "Id": "R1", "Label" : "Eclairage cuisine" },
            { "Id": "R2", "Label" : "Eclairage SAM" },
            { "Id": "R3", "Label" : "Eclairage Salon", "Room":"Salon" },
            { "Id": "R4", "Label" : "PC Salon" },
            { "Id": "R5", "Label" : "Eclairage DGT BIBLIO" },
            { "Id": "R6", "Label" : "Eclairage WC RDC" },
            { "Id": "R7", "Label" : "Eclairage local Tech" },
            { "Id": "R8", "Label" : "Eclairage spot BIBLIO" },
            { "Id": "R9", "Label" : "Eclairage EXT Façade" },
            { "Id": "R10", "Label" : "Eclairage EXT BIBLIO" },
            { "Id": "R11", "Label" : "Eclairage EXT Salon" },
            { "Id": "R12", "Label" : "Eclairage couloir étage" },
            { "Id": "R13", "Label" : "Eclairage escalier" },
            { "Id": "R14", "Label" : "Eclairage centre BIBLIO" },
            { "Id": "R15", "Label" : "Eclairage chambre 3" },
            { "Id": "R16", "Label" : "Eclairage SDB Couloir Etage" },
            { "Id": "R17", "Label" : "Eclairage SDB Couloir étage" },
            { "Id": "R18", "Label" : "Eclairage dressing" },
            { "Id": "R19", "Label" : "Eclairage CH2 Liseuse D" },
            { "Id": "R20", "Label" : "Eclairage CH2 liseuse G" },
            { "Id": "R21", "Label" : "Eclairage CH2 Centre" },
            { "Id": "R22", "Label" : "Eclairage SDB CH2" },
            { "Id": "R24", "Label" : "Eclairage EXT SPOT SOL" },
            { "Id": "VI1", "Label" : "Entrée Virtuelle 1 - Absent" },
            { "Id": "VI2", "Label" : "Entrée Virtuelle 2 - Jardin" },
            { "Id": "THL1", "Label" : "X-THL RDC", "Room":"Salon" },
            { "Id": "THL2", "Label" : "X-THL ETAGE" }
          ]
        </content>
      </setting>
    </settings>
  </constellationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>